@tailwind base;
@tailwind components;
@tailwind utilities;

.dropList:hover{
    background-color: #262a32 !important;
}
.dropList:hover .dropSpan{
    color: white !important;
}
.dropList:hover #serviceIcon{
    color: white !important;
}

.swiper-pagination-bullet-active{
    background-color: white !important;
}

@media screen and (max-width: 600px) {
    .swiper {
      width: 365px !important;
      height: 400px !important;
      border-radius: 10px !important;
      top: 0 !important;
    }
    .swiper img{
        width: 100% !important;
        height: 100% !important;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
    }