@tailwind base;
@tailwind components;
@tailwind utilities;

.navHover:hover .navSpan{
    color: white;
}
.navHover:hover svg{
    color: white;
}

#green{
    color: #00ff00 !important;
}

.dropList:hover{
    background-color: #262a32 !important;
}
.dropList:hover .dropSpan{
    color: white !important;
}
.dropList:hover #serviceIcon{
    color: white !important;
}

.swiper-pagination-bullet-active{
    background-color: white !important;
}

.swiper-button-prev{
    background-color: #3c4047 !important;
    color: white !important;
    padding: 20px !important;
   border-radius: 10px !important;
}
.swiper-button-next{
    background-color: #3c4047 !important;
    color: white !important;
    padding: 20px !important;
   border-radius: 10px !important;

}
.swiper-button-next::after{
    font-size: 25px !important;
    font-weight: bold !important;
}
.swiper-button-prev::after{
    font-size: 25px !important;
    font-weight: bold !important;
}


.colorOne{
   background-color: #fff !important;
}
.colorTwo{
   background-color: #43c0cf !important;
}
.colorThere{
   background-color: #3d402f !important;
}
.colorFour{
   background-color: #4aaf00 !important;
}
.colorFive{
   background-color: #315bbd !important;
}
.colorSix{
   background-color: #ec6115 !important;
}
.colorSeven{
   background-color: #dc041d !important;
}
.colorEight{
   background-color: #efead7 !important;
}



/* .swiper {
    width: 870px !important;
    height: 504px !important;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    top: 0 !important;
  } */

@media screen and (max-width: 600px) {
    .swiper {
 
      width: 22.488rem !important;
      height: 22.488rem !important;
      border-top-left-radius: 12px !important;
      border-top-right-radius: 12px !important;
      top: 0 !important;
    }
    .swiper img{
        width: 100% !important;
        height: 100% !important;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
    .swiper-button-prev{
        background-color: #3c4047 !important;
        color: white !important;
        padding: 30px !important;
       border-radius: 10px !important;
    }
    .swiper-button-next{
        background-color: #3c4047 !important;
        color: white !important;
        padding: 30px !important;
       border-radius: 10px !important;
    }
    }